-e .

# Packaging
twine
wheel

# Tooling and tests
attrs>=25.3  # Fix compatibility between trio and outcome
autoflake
black==25.1.*
exceptiongroup; python_version<'3.13'
mypy==1.17.0
pytest==8.*
pytest-asyncio==1.1.*
pytest-cov
pytest-trio==0.8.*
ruff==0.12.*
starlette==0.47.*
trio==0.30.*
httpx==0.28.*
