-e .

# Packaging
twine
wheel

# Linting and testing
attrs>=19.2  # Fix compatibility between trio and outcome
autoflake
black==22.6.0
flake8
flake8-bugbear
flake8-comprehensions
isort==5.*
mypy
pytest
pytest-asyncio
pytest-cov
pytest-trio
seed-isort-config
starlette==0.13.*
trio
